/*
body{
	background-color: yellow;
}

div.text{
	margin-bottom: 20px;
}
.hero-wrap{
	margin-top: 70px;
	background-image: url(imge/about.jpg);
	background-size: cover;
	height: 800px;
}


.navbar{
	font-weight: 700;
		
}

.navbar-brand{
	font-size: 30px;
}

.ftco-navbar-light .navbar-brand{
	color: red;
}

.ftco-navbar-light .navbar-brand span{
	color: red;
}

#home{
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0)),url(img/cover1.jpg);
	background-size: cover;
	background-position: center;
	color: #efefef !important;
	background-attachment: fixed;
	margin-top: 0px;
	padding-bottom: 200px;
	padding-top: 50px;
	padding-bottom: 50px;

}

#home label{
	color: #ffffff;
}

#home .login{
	background: rgba(0,0,0,0.6); !important;
}
*/