* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1{
    text-align:center;
}

body{
    font-family: "Montserrat-Regular";
    color: #fff;
    font-size: 15px;
    margin: 0;
}

#dutyrecordtable tbody tr:nth-of-type(even) {
    background-color: #9dbbf540;
}

#dutyrecordtable tbody tr:hover {
    cursor:default;
    background-color:#9dbbf5;
    transition: all .30s ease-in-out;
}

div#tktnumdiv {
    display: flex;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url("../images/bg-registration-form-7.jpg") no-repeat;
    background-size: cover;
}

.inner {
    max-width: 758px;
    margin: auto;
    background: #39459b;
    border: 10px solid #0d99d7;
    padding: 30px 99px 45px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

#dutyrecordtable{
    font-size: 17px;
    border-collapse: collapse;
    margin: 25px 0px;
    min-width: 400px;
    border-radius: 13px 13px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.66);
}

#dutyrecordtable thead tr{
    background-color: #6ec3fca6;
    text-align: left;
    color: white;
}

#dutyrecordtable th, #dutyrecordtable td{
    padding:12px 15px;
}

#dutyrecordtable tbody tr {
    border-bottom: 1px solid white;
}

#dutyrecordtable tbody tr:last-of-type {
    border-bottom: 3px solid #82c3ffa1;
}

div input{
    border: none;
    border-bottom: 2px solid #00ade6;
    display: block;
    height: 26px;
    font-size: 19px;
    background: none;
    font-family: "Montserrat-SemiBold";
    color: white;
}

#searchbox{

}

div label{
    font-size: 22px;
    padding: 0px 13px;
}

#enternamediv{
    display: flex;
}

#tktbknumslt{
    margin: 11px 55px 16px 0px;
}

#tktnum{
    margin: 11px 0px 16px 3px;
    width: 100px;
}

#tktbknum{
    background: #0072cf7a;
    color: #fff;
    padding: 5px;
    width: 190px;
    height: 30px;
    border: none;
    font-size: 16px;
    box-shadow: 0px 0px 25px rgba(31, 39, 45, 0.72);
    -webkit-appearance: button;
    outline: none;
}

button {
	border: none;
	width: 162px;
	height: 51px;
	border: 2px solid #fff;
	margin: auto;
	margin-top: 20px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	padding: 0;
	background: none;
	color: #fff;
	font-size:large;
	text-transform: uppercase;
	font-family: "Montserrat-SemiBold";
}

button:hover {
		border-color: transparent;
		background-color:#9dbbf5;
		transition: all .5s cubic-bezier(0, 0, 0.11, 1.08);
}

#err,#recordDiv{
    text-align: center;
    color: #00cdff;
    font-size: 20px;
}

.indexinner{
	font-size: 24px;
    font-family: monospace;
    margin: auto;
}

ul{
	list-style: none;
    display: flex;
    padding-left: 0px;
}

.menuebutton{
	height: 119px;
    width: 273px;
	background-color: #2564af;
	border: 5px solid rgba(1, 146, 255, 0.72);
	margin: 25px;
}


a{
	color: white;
    text-decoration: none;
}
